@font-face {
    font-family: 'Brandon Grotesque';
    font-weight: 200;
    src: url("../fonts/Brandon_thin.otf") format("opentype");
}

@font-face {
    font-family: 'Brandon Grotesque';
    font-weight: 300;
    src: url("../fonts/Brandon_light.otf") format("opentype");
}

header {
  background-image: url('../img/photo_header.jpg');
  background-size: cover;
  height: 808px;
}

.nav {
  height: 150px;
  background-image: linear-gradient(rgba(0,0,0,.75), rgba(0,0,0,.0));
}

.header-line {
  position: relative;
  padding-top: 20px;
}

.header-line__col {
  display: inline-block;
}

.menu-icons {
  position: absolute;
  right: 15px;
}

.icon_fb {
  margin-right: 30px;
}

.icon_search {
  margin-right: 70px;
}

.line__col-w15 {
  width: 15%;
}

.line__col-w70 {
  width: 70%;
}

.icon_offer {
  margin-right: 10px;
}

header h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 47px;
  color: #fff;
  margin-top: 220px;
}

.icon_line {
  display: block;
  margin: 25px auto 20px;
}

#about-section {
  background: #0c121c;
  color: #fff;
  padding-bottom: 55px;
}

.line_marker {
  position: relative;
  bottom: -3px;
  width: 100%;
}

.border_liner {
  border-bottom: 1px solid #30353e;
}

.pl-0 {
  padding-left: 0;
}

.pr-0 {
  padding-right: 0;
}

.about-section__head {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 27px;
  color: rgba(235, 235, 235, .1);
  padding-top: 35px;
}

.about-section__head .active {
  color: #a77c5a;
}

.about-section__content {
  padding-top: 25px;
  color: rgba(255, 255, 255, .5);
  font-family: 'Brandon Grotesque';
  font-weight: 200;
  font-size: 16px;
}

.main-block {
  position: relative;
  padding-top: 5px;
  padding-bottom: 33px;
}

.main-block__text-item {
  padding-top: 55px;
}

.main-block__burger {
  float: right;
}

.main-block__head {
  padding-bottom: 25px;
}

.main-block__line {
  display: inline-block;
  border-bottom: 1px solid #cab09c;
}

.main-block__content {
  padding-top: 15px;
  font-family: 'Brandon Grotesque';
  font-weight: 300;
}

.main-block__content p:last-child {
  margin-bottom: 0;
}

.line--sm {
  width: 40px;
}

.line--md {
  width: 65px;
}

.main-block h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 34px;
}

.main-block__more {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 9px;
  color: #03030e;
}

.main-block__img {
  position: absolute;
  max-width: 50%;
}

.main-block__img-right {
  right: 0;
}

.main-block__img-left {
  left: 0;
}

.posts-box {
  position: relative;
  margin-top: 25px;
}

.posts-box__row {
  padding: 25px 0;
  border: 1px solid #f5f5f5;
}

.posts-box__arrow-l {
  position: absolute;
  left: 0;
  top: 25px;
}

.posts-box__arrow-r {
  position: absolute;
  right: 0;
  top: 25px;
}

.post-box__item {
  width: 18%;
  display: inline-block;
  float: left;
  margin: 0 1%;
  border: 1px solid #be9f86;
  box-sizing: border-box;
  padding: 10px;
}

.posts-box__head {
  position: relative;
  z-index: 9;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  padding-bottom: 5px;
  margin-bottom: 8px;
  color: #070c14;
  border-bottom: 1px solid #be9f86;
}

.posts-box__image {
  position: relative;
}

.posts-box__image,
.posts-box__image img {
  width: 100%;
}

.post-box__triangle {
  display: inline-block;
  background: #fff;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -10px;
  transform: rotate(45deg);
}

footer {
  color: rgba(255, 255, 255, .5);
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  background: #0c121c;
  padding: 30px 0;
}

.social-box {
  float: right;
}

.footer__social i {
  margin-left: 30px;
  color: #a77c5a;
  font-size: 14px;
}